<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492159563390-2g81dmgeli17t0jhudf1ivcecuern21i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492159563390-2g81dmgeli17t0jhudf1ivcecuern21i</string>
	<key>API_KEY</key>
	<string>AIzaSyCAT622749jPjjPagjmmpFs7syPQuBpy6I</string>
	<key>GCM_SENDER_ID</key>
	<string>492159563390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.etutorproject.etutorapp</string>
	<key>PROJECT_ID</key>
	<string>etutorapp-25808</string>
	<key>STORAGE_BUCKET</key>
	<string>etutorapp-25808.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492159563390:ios:2d75a4ec0da275481b8a2f</string>
	<key>DATABASE_URL</key>
	<string>https://etutorapp-25808.firebaseio.com</string>
</dict>
</plist>