<ion-item lines="none" (click)="refresh()">
  <ion-title color="secondary" class="title">
    {{Title}}
    <ion-icon name="refresh" class="icon-refresh"></ion-icon>
  </ion-title>
</ion-item>
<div style="margin: 10px">
  <h5>{{viewTitle}}</h5>
</div>
<calendar
        [eventSource]="eventSource"
        [currentDate]="calendar.currentDate"
        [calendarMode]="calendar.mode"
        (onCurrentDateChanged)="onCurrentDateChanged($event)"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event)"
></calendar>

