<app-simple-header title="Tutoría Solicitada" (close)="closeModal()"> </app-simple-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="student-img-container">
          <img class="student-img" src="https://upload.wikimedia.org/wikipedia/commons/1/14/GuyRitchiebyKathyHutchins.jpg"/>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center"><b>Nombre Estudiante</b> le ha solicitado una tutoría</h1>
        <h4 class="ion-text-center" style="color: gray">Materia: <b>Geometría</b></h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-list>
            <ion-item>
              <h4>Fecha: <b>12 de diciembre de 2019</b></h4>
            </ion-item>
            <ion-item>
              <h5>Hora Inicio: <b>5:00PM</b></h5>
            </ion-item>
            <ion-item>
              <h5>Hora Final <b>7:00PM </b></h5>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-button color="danger" expand="full" class="outline-btn">
            <ion-icon name="close-circle"></ion-icon>
            &nbsp;
            Rechazar
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button color="primary" expand="full" >
            Aceptar
            &nbsp;
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



