<app-header [showBack]="true"></app-header>
<ion-content class="ion-no-padding">
  <ion-item> 
    <ion-label color="secondary" class="title"> {{pageTitle}}</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-avatar class="avatar" (click)="openImageSelector()">
      <ion-img [src]='profile.profileImageUrl' *ngIf="profile !== undefined"></ion-img>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-avatar>
  </ion-item>
  <ion-item lines="none">
    <ion-buttons class="rating">
      <ion-icon *ngFor="let i of stars" [name]="i" color="warning" class="star-button"></ion-icon>
    </ion-buttons>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-center" *ngIf="profile !== undefined"> {{profile.fullName}} </ion-label>
  </ion-item>
  <ion-button routerLink="/meeting-in-course" >click aqui</ion-button>
  <ion-item *ngIf="profile !== undefined">
    <ion-label><strong>Sobre Mi: </strong></ion-label>
    <ion-textarea rows="6" cols="20" [(ngModel)]="formAboutMeField"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-button color="primary" [disabled]="!validated" expand="full" (click)="saveUserBtn()">Guardar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>

