.logo-etutor{
    padding: 100px 30px 5px;
}
.list-form{
    background-color: var(--ion-color-secondary);
    padding: 0px 50px;
}
.submit-button{
    padding: 0px 50px;
}

.alignme{
    text-align: right;
}

.tututor-logo{
    color: var(--ion-color-primary);
    font-size: 45px;
}

.tututor-logo .tu-part {
    color: whitesmoke;
}

.forgot-password {
    padding-right: 45px !important; 
}