<ion-content color="secondary">
  <ion-img class="logo-etutor" src='../assets/resources/Logo.png'>
  </ion-img>
  <ion-item class="ion-text-right slogan-text" color="secondary" lines="none">
    <ion-label class="tututor-logo"><span class="tu-part">Tu</span>Tutor</ion-label>
  </ion-item>
  <form (submit)="submitForm()" [formGroup]="userForm">
    <ion-list color="secondary" class="list-form">

      <ion-item color="secondary" lines="none">
        <ion-label position="floating">
          <ion-icon slot="start" name="contact"></ion-icon>
          Correo Electrónico
        </ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item color="secondary" lines="none">
        <ion-label position="floating">
          <ion-icon slot="start" name="lock"></ion-icon>
          Contraseña
        </ion-label>
        <ion-input [type]="passwordTypeInput" formControlName="password">
        </ion-input>
        <ion-button item-end class="btn_eye_icon" (click)="togglePasswordMode()">
          <ion-icon [name]="iconpassword"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-list>
    
    <ion-button mode="ios"
    class="submit-button" expand="block" color="primary" type="submit"
      [disabled]="userForm.invalid">
      Ingresa
    </ion-button>

  </form>


  <ion-item color="secondary" lines="none">
    <ion-label class="ion-text-right forgot-password" color="primary" (click)="forgotPassword()"><u>¿Olvidaste tu
        contraseña?</u></ion-label>
  </ion-item>
  <ion-item color="secondary" lines="none">
    <ion-label class="ion-text-center ion-no-border" (click)="register()"><u>Registrate Ya</u></ion-label>
  </ion-item>
</ion-content>