<app-simple-header title="Califica al {{userTypeInverted}}"  [hiddenClose]="true"></app-simple-header>
<ion-content *ngIf="meeting !== undefined">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
          <div class="avatar-container">
            <img class="avatar-img" [src]="avatarImg"/>
          </div>
          <div>
            <h3>{{name}}</h3>
          </div>
        <ion-item lines="none">
          <div class="rating">
            <ionic4-star-rating #rating
                                activeIcon = "ios-star"
                                defaultIcon = "ios-star-outline"
                                activeColor = "#ffd966"
                                defaultColor = "#aaaaaa"
                                readonly = "false"
                                rating="0"
                                fontSize = "32px"
                                (ratingChanged)="logRatingChange($event)">
            </ionic4-star-rating>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 style="text-align: center">Califica al {{userTypeInverted}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-button color="primary" expand="full" [disabled]="buttonDisabled" (click)="sendRatings()">
            Calificar
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
