<ion-content color="secondary">
  <ion-img class="logo-etutor" src='../assets/resources/Logo.png'>
  </ion-img>
  <ion-item class="ion-text-right slogan-text" color="secondary" lines="none">
    <ion-label class="tututor-logo"><span class="tu-part">Tu</span>Tutor</ion-label>
  </ion-item>
  <form (submit)="submitForm()" [formGroup]="userForm">
    <ion-list color="secondary" class="list-form">
      <!-- Cedula -->
      <ion-item color="secondary" lines="none" *ngIf="!correoPadreVisible">
        <ion-label position="floating">
          <ion-icon slot="start" name="contact"></ion-icon>
          Cédula
        </ion-label>
        <ion-input type="phone" formControlName="cedula"></ion-input>
        <!--Validators for Document ID-->
        <div *ngIf="cedula.invalid && (cedula.dirty || cedula.touched)"
            class="alert alert-danger">

          <div *ngIf="cedula.errors['required']">
            Este campo es requerido.
          </div>
          <div *ngIf="cedula.errors['invalidCedula']">
            Debe introducir una cédula válida.
          </div>
        </div>
      </ion-item>
      <!-- emailPadre -->
      <ion-item color="secondary" lines="none" *ngIf="correoPadreVisible">
        <ion-label position="floating">
          <ion-icon slot="start" name="contact"></ion-icon>
          Correo Electronico del padre, madre o responsable
        </ion-label>
        <ion-input type="email" formControlName="emailPadre"></ion-input>
        <!--Validators for Document ID-->
        <div *ngIf="emailPadre.invalid && (emailPadre.dirty || emailPadre.touched)"
            class="alert alert-danger">

          <div *ngIf="emailPadre.errors['required']">
            Este campo es requerido.
          </div>
          <div *ngIf="email.errors['email']">
            Debe introducir un correo electrónico válido..
          </div>
        </div>
      </ion-item>
      <!-- E-mail -->
      <ion-item color="secondary" lines="none">
        <ion-label position="floating">
          <ion-icon slot="start" name="contact"></ion-icon>
          Correo Electrónico
        </ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
        <!--Validators for E-mail-->
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger">

          <div *ngIf="email.errors['required']">
            Este campo es requerido.
          </div>
          <div *ngIf="email.errors['email']">
            Debe introducir un correo electrónico válido..
          </div>
        </div>
      </ion-item>
      <!-- Name -->
      <ion-item color="secondary" lines="none">
        <ion-label position="floating">
          <ion-icon slot="start" name="contact"></ion-icon>
          Nombres
        </ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
        <!--Validators for E-mail-->
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert alert-danger">

          <div *ngIf="name.errors['required']">
            Este campo es requerido.
          </div>
        </div>
      </ion-item>
      <!-- Name -->
      <ion-item color="secondary" lines="none">
        <ion-label position="floating">
          <ion-icon slot="start" name="contact"></ion-icon>
          Apellidos
        </ion-label>
        <ion-input type="text" formControlName="lastname"></ion-input>
        <!--Validators for E-mail-->
        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
            class="alert alert-danger">

          <div *ngIf="lastname.errors['required']">
            Este campo es requerido.
          </div>
        </div>
      </ion-item>

      <ion-item color="secondary" lines="none">
        <ion-label position="floating">
          <ion-icon slot="start" name="lock"></ion-icon>
          Contraseña
        </ion-label>
        <ion-input [type]="passwordTypeInput" formControlName="password">
        </ion-input>
        <ion-button item-end class="btn_eye_icon" (click)="togglePasswordMode()">
          <ion-icon [name]="iconpassword"></ion-icon>
        </ion-button>
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">

          <div *ngIf="password.errors['required']">
            Este campo es requerido.
          </div>
        </div>
      </ion-item>

      <ion-item color="secondary" lines="none">
        <ion-label position="floating">
          <ion-icon slot="start" name="lock"></ion-icon>
          Confirmar Contraseña
        </ion-label>
        <ion-input [type]="passwordTypeInput" formControlName="confimrpassword">
        </ion-input>
        <ion-button item-end class="btn_eye_icon" (click)="togglePasswordMode()">
          <ion-icon [name]="iconpassword"></ion-icon>
        </ion-button>
        <div *ngIf="confimrpassword.invalid && (confimrpassword.dirty || confimrpassword.touched)"
            class="alert alert-danger">

          <div *ngIf="confimrpassword.errors['required']">
            Este campo es requerido.
          </div>
        </div>
      </ion-item>

    </ion-list>
    
    <ion-button mode="ios"
    class="submit-button" expand="block" color="primary" type="submit"
      [disabled]="userForm.invalid">
      Registrarse
    </ion-button>

  </form>
</ion-content>